# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*

# Вспомогательные файлы
*.log*
public/
node_modules/

# Собранные файлы
public/bundle.js
public/bundle.js.map
